*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;

    color: #F5F7FB;
    background-color: #4D5B9E;

    border: none; 
    border-radius: 15px;
    padding: 1em 1.8em;
}

button:hover{
    cursor: pointer;
    background-color: #343f80;
}

h1, h2, h3, p{
    margin: 0;
    color: #293264;
}

h1, h2, h3{
    font-weight: 700;
}